h4 {
  margin-bottom: 0;
}
.flexContainer {
  display: flex;
  height: 300px;
  margin-bottom: 30px;
}
.container1 {
  flex-flow: row wrap;
  align-content: center;
  border: 1px solid orange;
}
.container2 {
  flex-flow: column;
  justify-content: center;
  border: 1px solid blue;
}
.container3 {
  justify-content: right;
  border: 1px solid red;
  align-content: center;
  flex-wrap: wrap;
}
.flexItem {
  padding: 10px;
  background: greenyellow;
}

.container1 .flexItem {
}

.item1 {
}
.item2 {
}
.item3 {
}
